
<style>
    .footer {
        height: 80px;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.56);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer a {
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    
    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
        color: rgb(101, 100, 100);
    }

</style>


<div class="footer" style="margin-top: 20px;">
    <div>
        <a href="google.com">Help</a>
        <a href="google.com">About Us</a>
    </div>
    <div>
        <a href="google.com">Antra</a>
    </div>
</div>