<style>
  h1, h4, h2 {
    text-align: center;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(241, 25, 25, 0.652);
    padding: 20px;
    border: 2px solid black;
  }

  .student-selection {
    display: flex;
    font-size: 22px;
  }

  .student-header {
    position: absolute;
    display: inline-block;
    background-color: gold;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.577);
    margin-top: 5px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }

  .subject-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

</style>

<!--
  <div class="header">
  <h1>Gradebook</h1>
  <div class="student-header">
    <h2>{{studentHeaderName}}</h2>
  </div>
  <div>
    
    <div class="student-selection">
      <h3 style="margin: 0px; margin-right: 10px;">Student:</h3>
      <input list="students" name="students" id="student-selection" [(ngModel)]="studentFullName" style="margin-right: 10px;">
      <datalist id="students">
      </datalist>
      <button type="submit" (click)="squery()" >Get</button>
    </div>
  </div>
</div>
-->




<!--
  <div class="subject-container">
  <app-subject-info *ngFor="let subject of sa; let i=index;" subject="{{subject}}" section="{{seca[i]}}">
  </app-subject-info>
</div>

<app-header></app-header>
<router-outlet></router-outlet>
-->

<!--
<student-list></student-list>
<br><br><br>
<class-list></class-list>
-->

<sidebar></sidebar>



