<style>
    .form-2 {
        background-color: rgb(175, 175, 175);
        width: 600px;
        text-align: center;
        border: 2px solid rgba(73, 73, 73, 0.562);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    td:first-child {
        text-align: left;
    }

    td:last-child {
        text-align: right;
    }


    .form-2 td:nth-child(2) {
        text-align: right;
    }

    .form-3 td:nth-child(2) {
        text-align: center;
    }

    .form-3 td:nth-child(3) {
        text-align: right;
    }

    td {
        padding: 10px;
        border: 2px solid rgba(0, 0, 0, 0.155);
        width: 300px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    
</style>

<form [formGroup]="signup_form" class="form-2">

    <table>
        <tr>
            <td colspan="2" style="text-align: center;">
                <h2 colspan="2" style="text-align: center;">Sign Up</h2>
            </td>
        </tr>
        
        <tr>
            <td><label for="firstname">First Name</label></td>
            <td><input type="text" id="firstname" placeholder="First Name..." formControlName="first_name"></td>
        </tr>
        <tr>
            <td><label for="lastname">Last Name</label></td>
            <td><input type="text" id="lastname" placeholder="Last Name..." formControlName="last_name"></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" id="email" placeholder="Email..." formControlName="email"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="text" id="password" placeholder="Password..." formControlName="password"></td>
        </tr>
        <tr>
            <td><label for="confirmpassword">Confirm Password</label></td>
            <td><input type="text" id="confirmpassword" placeholder="Confirm..." formControlName="confirm_password"></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
                <button [disabled]="!signup_form.valid" (click)="submit()">Submit</button>
            </td>
        </tr>
    </table>
</form>
