<style>
    .container {
        margin-top: 10px;
        display: flex;
        align-items: center;
        background-color: rgb(135, 135, 201);
        padding: 10px;
        border: 2px solid black;
        justify-content: space-between;
    }

    .title {
        font-weight: bold;
        margin-left: 5px;
    }

    .links a {
        background-color: green;
        border: 2px solid black;
        margin: 5px;
        text-decoration: none;
        color: black;
        padding: 10px;
        font-size: large;
        font-weight: bold;
    }

    .links a:hover {
        background-color: azure;
    }

</style>

<div class="container">
    <h1 class="title">Gradebook</h1>
    <div class="links">
        <a href="/students">Students</a>
        <a href="/class">Class</a>
    </div>
</div>




