<style>
    .facts-container {
        padding: 10px;
        background-color: gray;
        width: 300px;
        border-radius: 10px;
    }

    hr {
        background-color: rgba(36, 35, 35, 0.403);
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div class="facts-container">
    <h5>Movie Facts</h5>
    <hr>
    Release Date: {{movie?.releaseDate}}
    <hr>
    Run Time: {{movie?.runTime}}
    <hr>
    Box Office: {{movie?.price}}
    <hr>
    Budget: {{movie?.budget}}
    <hr>
    Misc...
    <br>
    <br>
    <h5>Trailers</h5>
    <hr>
    Trailer Links Here!

</div>