<style>
    .form-2 {
        background-color: rgb(185, 183, 183);
        width: 600px;
        text-align: center;
        border: 2px solid rgba(73, 73, 73, 0.562);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    td:first-child {
        text-align: left;
    }

    td:last-child {
        text-align: right;
    }

    .form-2 td:nth-child(2) {
        text-align: right;
    }

    .form-3 td:nth-child(2) {
        text-align: center;
    }

    .form-3 td:nth-child(3) {
        text-align: right;
    }

    td {
        padding: 10px;
        border: 2px solid rgba(0, 0, 0, 0.155);
        width: 300px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    
</style>


<form class="form-2" #castForm="ngForm">
    <h1>Cast Form</h1>
    <table>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button (click)="from()" [disabled]="from_id == 0 || from_id == undefined">From: </button>
                <input type="text" id="from_id" name="from_id" placeholder="Title..." style="margin-left: 10px;" [(ngModel)]="from_id">
            </td>
        </tr>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" name="name" placeholder="Name..." [(ngModel)]="cast.name"></td>
        </tr>
        <tr>
            <td><label for="gender">Gender</label></td>
            <td><input type="text" name="gender" placeholder="Gender..." [(ngModel)]="cast.gender"></td>
        </tr>
        <tr>
            <td><label for="tmdbUrl">Tmdb URL</label></td>
            <td><input type="text" name="tmdburl" placeholder="Tmdb URL..." [(ngModel)]="cast.tmdbUrl"></td>
        </tr>
        <tr>
            <td><label for="profilepath">Profile Path</label></td>
            <td><input type="text" name="profilepath" placeholder="Profile Path..." [(ngModel)]="cast.profilePath"></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
                <button (click)="reset()">Reset</button>
                <button (click)="add()" style="margin-left: 10px; margin-right: 10px;">Add</button>
                
                
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
                <button (click)="delete()" [disabled]="delete_id == 0 || delete_id == undefined">Delete</button> 
                <input type="text" name="delete_id" min="0" style="margin-left: 10px;" [(ngModel)]="delete_id">
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
                <button (click)="modify()" [disabled]="modify_id == 0 || modify_id == undefined">Modify</button>
                <input type="number" name="modify_id" min="0" style="margin-left: 10px;" [(ngModel)]="modify_id">
            </td>
        </tr>
    </table>
</form>
